<ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
            <span itemprop="name">Главная</span>
        </a>
        <meta itemprop="position" content="1" />
    </li>
    <li class="arrow"><span>></span></li>
    <li class="unactive"><span></span>Коллекция</li>
    <li class="arrow"><span>></span></li>
    <li class="unactive"><span></span>Куклы</li>
    <li class="arrow"><span>></span></li>
    <li class="unactive"><span></span>Куклы виниловые</li>
    <li class="arrow"><span>></span></li>
    <li class="unactive"><span></span>Куклы 32 см</li>
    <li class="arrow"><span>></span></li>
    <li class="unactive"><span></span>Бланка</li>
</ol>