<div class="super_slider">
    <div class="slides_list">
        <a class="slide" href="https://"><img src="https://"></a>
        <a class="slide" href="https://"><img src="https://"></a>
        <a class="slide" href="https://"><img src="https://"></a>
        <a class="slide" href="https://"><img src="https://"></a>
        <a class="slide" href="https://"><img src="https://"></a>
    </div>
    <div class="big_image">
        <div class="img"></div>
    </div>
    <ul class="controls-mobile">
        <li class="controls-mobile__control"></li>
        <li class="controls-mobile__control"></li>
        <li class="controls-mobile__control"></li>
        <li class="controls-mobile__control"></li>
        <li class="controls-mobile__control active"></li>
    </ul>
</div>