<div class="super_slider">
    <div class="slides_list">
        <a class="slide" href="../images/IMG_7810.jpg"><img src="../images/IMG_7810.jpg"></a>
        <a class="slide" href="../images/IMG_7812.jpg"><img src="../images/IMG_7812.jpg"></a>
        <a class="slide" href="../images/IMG_7816.jpg"><img src="../images/IMG_7816.jpg"></a>
        <a class="slide" href="../images/IMG_7818.jpg"><img src="../images/IMG_7818.jpg"></a>
        <a class="slide" href="../images/IMG_7825.jpg"><img src="../images/IMG_7825.jpg"></a>
    </div>
    <div class="big_image">
        <div class="img"></div>
    </div>
    <ul class="controls-mobile">
        <li class="controls-mobile__control"></li>
        <li class="controls-mobile__control"></li>
        <li class="controls-mobile__control"></li>
        <li class="controls-mobile__control"></li>
        <li class="controls-mobile__control active"></li>
    </ul>
</div>
<div class="card__controls">
    <div class="card__control card__control_prev"><</div>
    <div class="card__control card__control_next">></div>
</div>

			<script>
$(document).ready(function(){
	$('.big_image').click(function(){
		$.fancybox.open([{
		src  : "../images/IMG_7810.jpg",
		opts : {
			thumb   : "../images/IMG_7810.jpg"
		}
	},{
		src  : "../images/IMG_7812.jpg",
		opts : {
			thumb   : "../images/IMG_7812.jpg"
		}
	},{
		src  : "../images/IMG_7816.jpg",
		opts : {
			thumb   : "../images/IMG_7816.jpg"
		}
	},{
		src  : "../images/IMG_7818.jpg",
		opts : {
			thumb   : "../images/IMG_7818.jpg"
		}
	},{
		src  : "../images/IMG_7825.jpg",
		opts : {
			thumb   : "../images/IMG_7825.jpg"
		}
	}], {},$('.super_slider .slide.active').index());
	});
});
			</script>