<footer>
    <div class="footer1">
        <div class="wrapper flex_between">
            <div class="logo-contacts flex">
                <a href="/" class="logo"></a>
                <div class="contacts">
                    <div class="contacts__contact">109147, г.  Москва, Марксистский пер., д. 6</div>
                    <a href="mailto:info@ftk-toys.ru" class="contacts__contact">info@ftk-toys.ru</a>
                </div>
            </div>
            <div class="links">
                <a href="#" class="links__link">Скачать Каталог 2019</a>
                <a href="#" class="links__link">Скачать Каталог 2018</a>
                <a href="#" class="links__link">Скачать Каталог 2017</a>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="wrapper flex_between">
            <nav class="navbar">
                <ul class="menu">
                    <li>
                        <a href="#">О компании</a>
                    </li>
                    <li>
                        <a href="#">Коллекции</a>
                    </li>
                    <li>
                        <a href="#">Каталоги</a>
                    </li>
                    <li>
                      <a href="#">Архив</a>
                    </li>
                    <li>
                      <a href="#">Где купить</a>
                    </li>
                    <li>
                      <a href="#">Контакты</a>
                    </li>
                    <li>
                      <a href="#">Новости</a>
                    </li>
                </ul>
            </nav>
            <div class="social flex">
                <a href="#" class="social__link social__link_vk"></a>
                <a href="#" class="social__link social__link_insta"></a>
            </div>
        </div>
    </div>
    <div class="footer3">
        <div class="wrapper flex_between">
           <div class="copyright">&copy «Reina del Norte»,  2018.</div>
           <div class="sitename">
               Разработка сайта:  
               <a href="https://weblamas.com/">WebLamas</a>
           </div>
        </div>
    </div>
</footer>