<div class="last-news">
    <div class="wrapper">
        <div class="last-news__ribbon"></div>
        <div class="last-news__caption">Новости</div>
        <a href="#" class="button last-news__button">Все новости</a>
        <div class="article-list last-news__article-list  flex">
            <a href="#" class="article-list__item">
                <div class="article-list__photo"></div>
                <div class="article-list__caption">Конкурс в ВК</div>
                <div class="article-list__description">Приглашаем всех любительниц «Reina del Norte» поучавствовать в конкурсе на лучшее фото. Нужно только</div>
            </a>
            <a href="#" class="article-list__item">
                <div class="article-list__photo"></div>
                <div class="article-list__caption">Выставка в Москве</div>
                <div class="article-list__description">15 декабря пройдет предновогодняя выставка в Москве. Будем рады видеть вас и презентовать новый</div>
            </a>
            <a href="#" class="article-list__item">
                <div class="article-list__photo"></div>
                <div class="article-list__caption">Скидки до 20%</div>
                <div class="article-list__description">В нашем магазине-партнере проходит акция к 5-летию компании. На всех кукол распростаняется скидка</div>
            </a>
        </div>
    </div>
</div>