<div class="menu-ribbons">
    <div class="menu-ribbon menu-ribbon_left"></div>
    <div class="menu-ribbon menu-ribbon_right"></div>
    <div class="menu-line">
        <div class="social menu-line__social flex">
            <a href="#" class="social__link social__link_vk"></a>
            <a href="#" class="social__link social__link_insta"></a>
        </div>
        <div class="burger">
            <span></span>
        </div>
        <div class="wrapper">
            <nav class="navbar">
                <ul class="menu">
                    <li>
                        <a href="#">О компании</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Коллекции</a>
                        <ul class="sub-menu">              
                            <li class="sub-menu__item sub-menu__item_dolls sub-menu-item-has-children">
                                <a href="#">Куклы</a>
                                <ul>
                                    <li class="sub-menu__item_medium small-sub-menu-item-has-children">
                                        <a href="#">Куклы виниловые</a>
                                        <ul>
                                            <li class="sub-menu__item_small"><a href="#">Куклы 32 см</a></li>
                                            <li class="sub-menu__item_small"><a href="#">Куклы 40 см</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu__item_medium small-sub-menu-item-has-children">
                                        <a href="#">Куклы мягконабивные</a>
                                        <ul>
                                            <li class="sub-menu__item_small"><a href="#">Куклы 32 смПлатья</a></li>
                                            <li class="sub-menu__item_small"><a href="#">Куклы 40 см</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu__item_clothes sub-menu-item-has-children">
                                <a href="#">Одежда для кукол</a>
                                <ul>
                                    <li class="sub-menu__item_small"><a href="#">Платья</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Юбки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Кофточки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Обувь</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu__item_furniture sub-menu-item-has-children">
                                <a href="#">Мебель для кукол</a>
                                <ul>
                                    <li class="sub-menu__item_small"><a href="#">Кроватки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Комоды</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Столы и стулья</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Шкафы</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu__item_accessories sub-menu-item-has-children">
                                <a href="#">Аксессуары</a>
                                <ul>
                                    <li class="sub-menu__item_small"><a href="#">Сумки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Очки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Украшения</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Сумки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Очки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Украшения</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu__item_more sub-menu-item-has-children">
                                <a href="#">Что-то еще</a>
                                <ul>
                                    <li class="sub-menu__item_small"><a href="#">Сумки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Очки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Украшения</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu__item_dolls sub-menu-item-has-children">
                                <a href="#">Куклы</a>
                                <ul>
                                    <li class="sub-menu__item_medium small-sub-menu-item-has-children">
                                        <a href="#">Куклы виниловые</a>
                                        <ul>
                                            <li class="sub-menu__item_small"><a href="#">Куклы 32 см</a></li>
                                            <li class="sub-menu__item_small"><a href="#">Куклы 40 см</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu__item_medium small-sub-menu-item-has-children">
                                        <a href="#">Куклы мягконабивные</a>
                                        <ul>
                                            <li class="sub-menu__item_small"><a href="#">Куклы 32 смПлатья</a></li>
                                            <li class="sub-menu__item_small"><a href="#">Куклы 40 см</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu__item_clothes sub-menu-item-has-children">
                                <a href="#">Одежда для кукол</a>
                                <ul>
                                    <li class="sub-menu__item_small"><a href="#">Платья</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Юбки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Кофточки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Обувь</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu__item_furniture sub-menu-item-has-children">
                                <a href="#">Мебель для кукол</a>
                                <ul>
                                    <li class="sub-menu__item_small"><a href="#">Кроватки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Комоды</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Столы и стулья</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Шкафы</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu__item_accessories sub-menu-item-has-children">
                                <a href="#">Аксессуары</a>
                                <ul>
                                    <li class="sub-menu__item_small"><a href="#">Сумки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Очки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Украшения</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Сумки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Очки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Украшения</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu__item sub-menu__item_more sub-menu-item-has-children">
                                <a href="#">Что-то еще</a>
                                <ul>
                                    <li class="sub-menu__item_small"><a href="#">Сумки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Очки</a></li>
                                    <li class="sub-menu__item_small"><a href="#">Украшения</a></li>
                                </ul>
                            </li>  
                        </ul>
                    </li>
                    <li>
                        <a href="#">Каталоги</a>
                    </li>
                    <li>
                        <a href="#">Архив</a>
                    </li>
                    <li>
                        <a href="#">Где купить</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>